# Numerous always-ignore extensions
# ---------------------------------
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.npm-log

# OS or Editor folders
# ---------------------------------
.DS_Store
*.DS_Store
**/*.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Log files
/app/logs/*.php

# Local Folders
node_modules/
writable/

# Build Folders
# ---------------------------------
#/scripts
#/styles
#/img
/tmp

# Personal Config
# ---------------------------------
app/config/database.php
