//
// Mixins
// --------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		height: 0;
		line-height: 0;
		font-size: 0;
	}
	&:after {
		clear: both;
	}
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}


// CSS3 Properties
// ---------------
// Add these as you need them

// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	   -moz-box-sizing: @boxmodel;
	        box-sizing: @boxmodel;
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow(@state: ellipsis;) {
	-ms-text-overflow: @state;
	-o-text-overflow: @state;
	text-overflow: @state;
}
