//
// Variables
// --------------------------------------------------


// Paths
// -------------------------
// Set paths relative to the main.less file

@img_url: 						"../img";
@fonts_url: 					"fonts";


// Colors
// -------------------------

// Grays
@grayDarker:            #252525;
@grayDark:              #454545;
@gray:                  #555555;
@grayLight:             #959595;
@grayLighter:           #e5e5e5;
@grayWarm:           	#f5f5f5;



// Scaffolding
// -------------------------
@bodyBackground:        @grayLighter;
@textColor:             @grayDark;

@containerWidth:        1140px;
@contentPadding:		20px;

@gridColumns:			12;
@gridGutterWidth:		10px;

@spanWidthFluid:		(100% / @gridColumns);


// Typography
// -------------------------
@baseFontSize:          14px;
@baseLineHeight:        20px;
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;


// Forms
// -------------------------
@inputPaddingY:					4px;
@inputPaddingX:					6px;
@inputPaddingXFluid:			2%;
@inputHeight:                   @baseLineHeight + (@inputPaddingY * 2) + 2px; // 2px for top/bottom border
